@charset 'utf-8';

:focus, button.button:focus {
  outline: 4px solid $focus-color;
}

button.is-ghost.is-ahref {
  padding: 0;
  border: none;
  border-radius: 0;
  height: unset;
}
// For some reason, the Bulma tag color classes ignore $success, $danger, etc.
.button.is-primary {
  background-color: $primary;
}
