@charset 'utf-8';

.navbar, .navbar-menu, .navbar-start, .navbar-end {
  @include from($navside-breakpoint) {
    flex-direction: column;
  }
}
.navbar {
  min-height: 0.5 * $navbar-height;
  height: 10vh;
  max-height: $navbar-height;
  @include from($navside-breakpoint) {
    height: 100%;
    max-height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: fit-content;
  }
}
.navbar-brand {
  @include until($navside-breakpoint) {
    min-height: 0.5 * $navbar-height;
    height: 100%;
    max-height: $navbar-height;
  }
  @include from($navside-breakpoint) {
    margin-top: 2 * $gap;
    min-height: 0;
  }

  a.navbar-item {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.25em;
    margin-right: 0em;
    padding-left: 0.25em;
    height: 100%;
    max-height: $navbar-height * 0.625;
    font-weight: bold;
    text-align: center;

    @include from($navbar-breakpoint) {
      margin-left: $navbar-margin;
    }

    @include from($navside-breakpoint) {
      display: block;
      margin-top: 0em;
      margin-bottom: $navbar-margin;
      margin-right: $navbar-margin;
      padding-left: 0.5em;
      max-height: unset;
      height: unset;
      width: calc(100% - 2 * 0.75em);
    }
  }
  a.navbar-item.brand-with-logo {
    @include from($navside-breakpoint) {
      margin-top: -0.75em;
    }
  }
  a.navbar-item.is-active:not(:focus):not(:hover), a.navbar-item:hover, a.navbar-item:focus {
    color: $navbar-button-active-color;
    background-color: $navbar-button-active-background;
  }
}
img.navbar-brand-logo {
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  padding-right: 0.25em;

  @include from($navside-breakpoint) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0em;
    padding-right: 0em;
    max-height: $navbar-height;
  }
}
.navbar-brand.left-burger {
  align-items: flex-start;

  .navbar-burger {
    margin-left: 0;
    margin-right: 0;
  }
}
.navbar-burger {
  min-width: 0.5 * $navbar-height;
  width: 10vh;
  max-width: $navbar-height;
  height: 100%;
  max-height: $navbar-height;
  &:hover, &:focus {
    color: $navbar-button-active-color;
    background-color: $navbar-button-active-background;
  }
  span {
    transition: unset;
    height: 0.5px;
  }
}
.navbar-menu {
  @include until($navbar-breakpoint) {
    display: block;
    visibility: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    scrollbar-width: none;
  }
}
.navbar-menu::-webkit-scrollbar {
  display: none;
}
.navbar-menu.is-active, .navbar-menu:target, .navbar-menu[aria-expanded="true"] {
  @include until($navbar-breakpoint) {
    display: block;
    max-height: 90vh;
    visibility: visible;
    padding-top: 0.25 * $gap;
    padding-bottom: $gap;
    overflow: auto;
  }

  .navbar-burger {
    min-width: unset;
    width: 2.5em;
    max-width: unset;
    height: 2.5em;
    max-height: unset;
  }
}
.navbar-start, .navbar-end {
  @include from($navside-breakpoint) {
    width: 100%;
  }
}
.navbar-item {
  margin: $navbar-margin;
  padding: 0.5em;

  @include from($navbar-breakpoint) {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0em;
    height: 100%;
    max-height: $navbar-height * 0.625;
  }
  @include from($navside-breakpoint) {
    margin-top: 0em;
    margin-bottom: $navbar-margin;
    margin-right: $navbar-margin;
    height: unset;
  }
  .icon img {
    height: 1em;
  }
}
.navbar-item.end-buttons{
  padding-top: 0;
  padding-bottom: 0;

  @include until($navside-breakpoint) {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    padding-left: 0.75em;
  }
  @include from($navside-breakpoint) {
    margin: $navbar-margin;
    height: unset;
  }

  .buttons {
    margin-left: auto;
    margin-right: auto;
    @include until($navside-breakpoint) {
      margin-top: auto;
      margin-bottom: auto;
      height: 100%;
    }
    @include from($navside-breakpoint) {
      margin-top: $navbar-margin;
      margin-bottom: $navbar-margin;
    }
  }
  .button {
    border-radius: 0;
    margin-top: auto;
    margin-bottom: auto;
    @include until($navbar-breakpoint) {
      padding-left: calc(0.5em - 1px);
      padding-right: calc(0.5em - 1px);
    }
    @include from($navbar-breakpoint) {
      height: 100%;
      max-height: $navbar-height * 0.625;
    }
  }
  .icon-button {
    @include from($navbar-breakpoint) {
      padding-top: 0.25 * $gap;
      padding-bottom: 0.25 * $gap;
      padding-left: 0.125 * $gap;
      padding-right: 0.125 * $gap;
    }
    .icon:first-child:last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .button.is-active:not(:hover), .button:hover, .button:focus {
    color: $navbar-button-active-color;
    background-color: $navbar-button-active-background;
  }
  .button:focus {
    outline: 4px solid $focus-color;
  }
}
a.navbar-item.is-active:not(:focus):not(:hover), a.navbar-item:hover, a.navbar-item:focus {
  color: $navbar-button-active-color;
  background-color: $navbar-button-active-background;
}
.navbar-end {
  @include from($navside-breakpoint) {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: $navbar-margin;
  }
}
