@charset 'utf-8';

.tag:not(body) {
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-size: $size-normal;
  height: 1.4 * $size-normal;
}
// For some reason, the Bulma tag color classes ignore $success, $danger, etc.
.tag:not(body).is-success {
  background-color: $success;
}
.tag:not(body).is-danger {
  background-color: $danger;
}
