{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Home{{end}}
{{define "description"}}Livestreams from PlanktoScope instruments{{end}}

{{define "content"}}
  <main class="main-container">
    <section class="section content">
      <h1>PlanktoScope Live</h1>
      <p>Welcome!</p>
    </section>
  </main>
{{end}}
