{{$topic := get . "Topic"}}
{{$messages := get . "Messages"}}
{{$authorizeSend := get . "AuthorizeSend"}}
{{$isPublic := get . "IsPublic"}}
{{$auth := get . "Auth"}}
{{$meta := get . "Meta"}}

<turbo-frame id="{{$topic}}">
  {{
    template "shared/turbo-cable-stream-source.partial.tmpl"
    (print $topic "/messages")
  }}
  <div class="chat-messages">
    <turbo-frame id="{{print $topic "/messages"}}">
      {{range $message := $messages}}
        {{
          template "shared/chat/message.partial.tmpl" dict
          "Message" $message
        }}
      {{end}}
      <article
        class="message is-info chat-message"
        data-controller="load-scroll hideable"
      >
        <div class="message-body">
          <p>
            Welcome!
            {{if not $authorizeSend}}
              You are permitted to view this chat, but not to send messages to it.
              {{if not $auth.Identity.Authenticated}}
                You might be permitted to send messages if you
                <a
                  href="{{list "/login?return=" (queryEscape $meta.RequestURI) | join ""}}"
                  data-turbo-frame="_top"
                >sign in</a>.
              {{end}}
            {{else if $isPublic}}
              Please remember that anyone can view messages you send to this chat, even people who are not signed in.
            {{else}}
              Please remember that messages you send to this chat are not encrypted, so you shouldn't send sensitive information here.
            {{end}}
          </p>
          <div class="buttons is-padded">
            <button
              class="button is-primary is-hidden"
              data-hideable-target="hider"
              data-action="click->hideable#hide"
            >
              Ok
            </button>
          </div>
        </div>
      </article>
      <noscript>
        <article class="message is-warning chat-message">
          <div class="message-body">
            <p>
              Because your web browser does not have Javascript enabled, you are unable to receive
              automatic live updates to the chat. You'll need to refresh this page to check for
              any newer chat messages.
            </p>
          </div>
        </article>
      </noscript>
    </turbo-frame>
  </div>
  {{
    template "shared/chat/send.partial.tmpl" dict
    "Topic" $topic
    "AuthorizeSend" $authorizeSend
    "FocusOnLoad" false
    "Auth" $auth
  }}
</turbo-frame>
