$gap: 16px;
$tablet: 500px;

$section-padding: $gap;
$section-padding-desktop: 2 * $gap;

$navbar-breakpoint: $tablet;
$navside-breakpoint: $desktop;
$navbar-height: 3rem;
$navside-navbar-width: 5rem;
$navbar-margin: 0.75em;
