{{$instrument := (get . "Instrument")}}
{{$controllerID := (get . "ControllerID")}}
{{$controller := (get . "Controller")}}
{{$authorizations := (get . "Authorizations")}}
{{$auth := (get . "Auth")}}

<turbo-frame id="/instruments/{{$instrument.Name}}/controllers/{{$controllerID}}">
  {{
    template "instruments/planktoscope/pump.partial.tmpl" dict
    "InstrumentID" $instrument.ID
    "ControllerID" $controllerID
    "Pump" $controller.Pump
    "PumpSettings" $controller.PumpSettings
    "Imaging" $controller.Imager.Imaging
    "Authorizations" $authorizations.Pump
    "Auth" $auth
    "WithTurboStreamSource" true
  }}
  {{
    template "instruments/planktoscope/camera.partial.tmpl" dict
    "InstrumentID" $instrument.ID
    "ControllerID" $controllerID
    "CameraSettings" $controller.CameraSettings
    "Authorizations" $authorizations.Camera
    "Auth" $auth
    "WithTurboStreamSource" true
  }}
  {{
    template "instruments/planktoscope/imager.partial.tmpl" dict
    "InstrumentID" $instrument.ID
    "ControllerID" $controllerID
    "Imager" $controller.Imager
    "ImagerSettings" $controller.ImagerSettings
    "Authorizations" $authorizations.Imager
    "Auth" $auth
    "WithTurboStreamSource" true
  }}
</turbo-frame>
