{{$instrument := (get . "Instrument")}}
{{$controller := (get . "Controller")}}
{{$auth := (get . "Auth")}}

<turbo-frame id="/instruments/{{$instrument.Name}}/controller">
  {{
    template "instruments/planktoscope/pump.partial.tmpl" dict
    "Instrument" $instrument
    "Pump" $controller.Pump
    "PumpSettings" $controller.PumpSettings
    "Auth" $auth
    "WithTurboStreamSource" true
  }}
</turbo-frame>
