{{$instrumentID := (get . "InstrumentID")}}
{{$controllerID := (get . "ControllerID")}}
{{$imagerSettings := (get . "ImagerSettings")}}
{{$imager := (get . "Imager")}}
{{$authorizations := (get . "Authorizations")}}
{{$withTurboStreamSource := (get . "WithTurboStreamSource")}}
{{$auth := (get . "Auth")}}

{{if $withTurboStreamSource}}
  {{
    template "shared/turbo-cable-stream-source.partial.tmpl"
    (print "/instruments/" $instrumentID "/controllers/" $controllerID "/imager")
  }}
{{end}}
<turbo-frame id="/instruments/{{$instrumentID}}/controllers/{{$controllerID}}/imager">
  <div class="card section-card wide-card">
    <div class="card-content">
      <h3>
        Imager
        {{if not $imager.StateKnown}}
          <span class="tag is-warning">Unknown</span>
        {{else}}
          <span class="tag is-info">{{if $imager.Imaging}}Started{{else}}Stopped{{end}}</span>
        {{end}}
      </h3>
      <form
        action="/instruments/{{$instrumentID}}/controllers/{{$controllerID}}/imager"
        method="POST"
        data-controller="form-submission csrf"
        data-action="submit->form-submission#submit submit->csrf#addToken"
      >
        {{template "shared/auth/csrf-input.partial.tmpl" $auth.CSRF}}

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Direction</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="radio">
                  <input
                    type="radio"
                    name="direction"
                    value="forward"
                    {{if $imagerSettings.Forward}}checked{{end}}
                    {{if not $authorizations.Set}}disabled{{end}}
                  />
                  Forward
                </label>
                <label class="radio">
                  <input
                    type="radio"
                    name="direction"
                    value="backward"
                    {{if not $imagerSettings.Forward}}checked{{end}}
                    {{if not $authorizations.Set}}disabled{{end}}
                  />
                  Backward
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Step Volume</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="field has-addons">
                <div class="control">
                  <input
                    type="number"
                    class="input"
                    name="step-volume"
                    min="0.001"
                    step="0.001"
                    {{if not $authorizations.Set}}disabled{{end}}
                    value="{{$imagerSettings.StepVolume}}"
                  />
                </div>
                <div class="control">
                  <span class="button is-static">mL</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Step Delay</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="field has-addons">
                <div class="control">
                  <input
                    type="number"
                    class="input"
                    name="step-delay"
                    min="0.1"
                    step="0.1"
                    {{if not $authorizations.Set}}disabled{{end}}
                    value="{{$imagerSettings.StepDelay}}"
                  />
                </div>
                <div class="control">
                  <span class="button is-static">s</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Steps</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  type="number"
                  class="input"
                  name="steps"
                  min="1"
                  step="1"
                  {{if not $authorizations.Set}}disabled{{end}}
                  value="{{$imagerSettings.Steps}}"
                />
              </div>
            </div>
          </div>
        </div>

        {{if $authorizations.Set}}
          <div class="field is-horizontal">
            <div class="field-label is-normal"><!--Left empty for spacing--></div>
            <div class="field-body" >
              <div class="field" data-form-submission-target="submitter">
                <div class="field has-addons">
                  <div class="control">
                    <input
                      class="button"
                      type="submit"
                      name="imaging"
                      value="Stop"
                      {{if and $imager.StateKnown (not $imager.Imaging)}}disabled{{end}}
                      data-form-submission-target="submit"
                    />
                  </div>
                  <div class="control">
                    <input
                      class="button"
                      type="submit"
                      name="imaging"
                      value="Start"
                      {{if and $imager.StateKnown $imager.Imaging}}disabled{{end}}
                      data-form-submission-target="submit"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{end}}
      </form>
    </div>
  </div>
</turbo-frame>
