{{$instruments := get . "Instruments"}}
{{$adminIdentifiers := get . "AdminIdentifiers"}}
{{$authorizeCreate := get . "AuthorizeCreate"}}
{{$auth := get . "Auth"}}

<turbo-frame id="/instruments/list">
  {{if $authorizeCreate}}
    {{
      template "shared/instruments/create-instrument.partial.tmpl" dict
      "Auth" $auth
    }}
  {{end}}
  <ul>
    {{range $instrument := $instruments}}
      <li>
        {{if $adminIdentifiers}}
          {{$identifier := index $adminIdentifiers $instrument.AdminID}}
          {{if $identifier}}
            <a href="/users/{{$instrument.AdminID}}" data-turbo-frame="_top">{{$identifier}}</a>
          {{else}}
            <span class="tag is-warning">Unknown</span>
          {{end}}
          /
        {{end}}
        {{if eq 0 (len $instrument.Name)}}
          <span class="tag is-warning">
            <a href="/instruments/{{$instrument.ID}}" data-turbo-frame="_top">
              Unnamed Instrument
            </a>
          </span>
        {{else}}
          <a href="/instruments/{{$instrument.ID}}" data-turbo-frame="_top">
            {{$instrument.Name}}
          </a>
        {{end}}
        {{$description := index (splitList "\n" $instrument.Description) 0}}
        {{if gt (len $description) 0}}
          : {{$description}}
        {{end}}
        <!-- TODO: show these as network entity cards instead -->
      </li>
    {{else}}
      <li>No instruments are registered yet!</li>
    {{end}}
  </ul>
</turbo-frame>
