{{$instruments := get . "Instruments"}}
{{$adminIdentifiers := get . "AdminIdentifiers"}}
{{$auth := get . "Auth"}}
{{$showCreateButton := get . "ShowCreateButton"}}

<turbo-frame id="/instruments/list">
  {{if and $auth.Identity.Authenticated $showCreateButton}}
    {{
      template "shared/instruments/create-instrument.partial.tmpl" dict
      "Auth" $auth
    }}
  {{end}}
  <ul>
    {{range $instrument := $instruments}}
      <li>
        {{if $adminIdentifiers}}
          {{$identifier := index $adminIdentifiers $instrument.AdminID}}
          {{if $identifier}}
            <a href="/users/{{$instrument.AdminID}}">{{$identifier}}</a>
          {{else}}
            <span class="tag is-warning">Unknown</span>
          {{end}}
          /
        {{end}}
        {{if eq 0 (len $instrument.Name)}}
          <span class="tag is-warning">
            <a href="/instruments/{{$instrument.ID}}" data-turbo-frame="_top">
              Unnamed Instrument
            </a>
          </span>
        {{else}}
          <a href="/instruments/{{$instrument.ID}}" data-turbo-frame="_top">
            {{$instrument.Name}}
          </a>:
        {{end}}
        {{index (splitList "\n" $instrument.Description) 0}}
        <!-- TODO: show these as network entity cards instead -->
      </li>
    {{else}}
      <li>No instruments are registered yet!</li>
    {{end}}
  </ul>
</turbo-frame>
