{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Instrument {{.Data.Instrument.Name}}{{end}}
{{define "description"}}Instrument {{.Data.Instrument.Name}}.{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/instruments">Instruments</a></li>
        <li class="is-active">
          <a href="/instruments/{{.Data.Instrument.Name}}" aria-current="page">
            {{.Data.Instrument.Name}}
          </a>
        </li>
      </ul>
    </nav>

    <section class="section content">
      <h1>Instrument {{.Data.Instrument.Name}}</h1>
      <turbo-frame id="/instruments/{{.Data.Instrument.Name}}/info">
        <p>{{.Data.Instrument.Description}}</p>
        <p>
          Administrator:
          {{if eq .Data.AdminIdentifier ""}}
            <tag class="tag is-danger">None</tag>
          {{else}}
            <a href="/users/{{.Data.Instrument.Administrator}}" data-turbo="false">
              {{.Data.AdminIdentifier}}
            </a>
          {{end}}
        </p>
      <div class="section-card wide-card">
        <img src="{{.Data.Instrument.MJPEGStream}}" crossorigin>
      </div>
      <div class="card section-card wide-card">
        <div class="card-content">
          <h3>Chat</h3>
            {{
              template "shared/chat/box.partial.tmpl" dict
              "Topic" (print "/instruments/" .Data.Instrument.Name "/chat")
              "Messages" .Data.ChatMessages
              "Auth" .Auth
            }}
        </div>
      </div>
      <div class="card section-card wide-card">
        <div class="card-content">
          <h3>Users</h3>
          {{
            template "shared/presence/users.partial.tmpl" dict
            "Topic" (print "/instruments/" .Data.Instrument.Name "/users")
            "Known" .Data.KnownViewers
            "Anonymous" .Data.AnonymousViewers
            "WithTurboStreamSource" true
          }}
        </div>
      </div>
      {{
        template "instruments/planktoscope/controller.partial.tmpl" dict
        "Instrument" .Data.Instrument
        "Controller" .Data.Controller
        "Auth" .Auth
      }}
    </section>
  </main>
{{end}}
