{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Instruments{{end}}
{{define "description"}}Live Instruments{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Live</a></li>
        <li class="is-active"><a href="/instruments" aria-current="page">Instruments</a></li>
      </ul>
    </nav>

    <section class="section content">
      <h1>Instruments</h1>
      <!-- TODO: group instruments by administrator, to disambiguate identical instrument names -->
      {{
        template "shared/instruments/instruments-list.partial.tmpl" dict
        "Instruments" .Data.Instruments
        "AdminIdentifiers" .Data.AdminIdentifiers
        "AuthorizeCreate" .Auth.Authorizations.CreateInstrument
        "Auth" .Auth
      }}
    </section>
  </main>
{{end}}
