{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Instrument {{.Data.Instrument.Name}}{{end}}
{{define "description"}}{{index (splitList "\n" .Data.Instrument.Description) 0}}{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Live</a></li>
        <li><a href="/instruments">Instruments</a></li>
        <li><a href="/users/{{.Data.Instrument.AdminID}}">{{.Data.AdminIdentifier}}</a></li>
        <li class="is-active">
          <a href="/instruments/{{.Data.Instrument.ID}}" aria-current="page">
            {{.Data.Instrument.Name}}
          </a>
        </li>
      </ul>
    </nav>

    <section class="section content">
      {{
        template "instruments/instrument-basics.partial.tmpl" dict
        "Instrument" .Data.Instrument
        "AdminIdentifier" .Data.AdminIdentifier
        "Auth" .Auth
      }}
      <h2>Live</h2>
      {{
        template "instruments/instrument-live.partial.tmpl" dict
        "Instrument" .Data.Instrument
        "ControllerIDs" .Data.ControllerIDs
        "Controllers" .Data.Controllers
        "KnownViewers" .Data.KnownViewers
        "AnonymousViewers" .Data.AnonymousViewers
        "ChatMessages" .Data.ChatMessages
        "Auth" .Auth
      }}
      {{if eq .Data.Instrument.AdminID .Auth.Identity.User}}
        <h2>Basic Settings</h2>
        {{
          template "instruments/config/basics.partial.tmpl" dict
          "Instrument" .Data.Instrument
          "Auth" .Auth
        }}
        <h2>Cameras</h2>
        {{
          template "instruments/config/cameras.partial.tmpl" dict
          "Instrument" .Data.Instrument
          "Auth" .Auth
        }}
        <h2>Controllers</h2>
        {{
          template "instruments/config/controllers.partial.tmpl" dict
          "Instrument" .Data.Instrument
          "Auth" .Auth
        }}
      {{end}}
    </section>
  </main>
{{end}}
