{{template "shared/base.layout.tmpl" .}}

{{define "title"}}User {{.Data.Identity.Identifier}}{{end}}
{{define "description"}}User {{.Data.Identity.Identifier}}.{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/users">Users</a></li>
        <li class="is-active">
          <a href="/users/{{.Data.Identity.Identifier}}" aria-current="page">
            {{.Data.Identity.Identifier}}
          </a>
        </li>
      </ul>
    </nav>

    <section class="section content">
      <h1>User {{.Data.Identity.Identifier}}</h1>
      <turbo-frame id="/users/{{.Data.Identity.Identifier}}/info">
        {{if .Auth.Identity.Authenticated}}
          <p>Email: {{.Data.Identity.Email}}</p>
        {{end}}
      </turbo-frame>
      <h2>Chat</h2>
      <div class="card section-card wide-card">
        <div class="card-content">
          <h3>Public Chat</h3>
          {{
            template "shared/presence/users.partial.tmpl" dict
            "Topic" (print "/users/" .Data.Identity.Identifier "/chat/public/users")
            "Known" .Data.PublicKnownViewers
            "Anonymous" .Data.PublicAnonymousViewers
            "WithTurboStreamSource" true
          }}
          {{
            template "shared/chat/box.partial.tmpl" dict
            "Topic" (print "/users/" .Data.Identity.ID "/chat/public")
            "Messages" .Data.PublicChatMessages
            "Auth" .Auth
            "IsPublic" true
          }}
        </div>
      </div>
    </section>
  </main>
{{end}}
