{{$instrument := (get . "Instrument")}}
{{$automationJob := (get . "AutomationJob")}}
{{$auth := (get . "Auth")}}
{{$frameID := (print "/instruments/" $instrument.ID "/config/automation-jobs")}}
{{if $automationJob}}
  {{$frameID = (print $frameID "/" $automationJob.ID)}}
{{end}}
{{$formRoute := (print "/instruments/" $instrument.ID "/automation-jobs")}}
{{if $automationJob}}
  {{$formRoute = (print $formRoute "/" $automationJob.ID)}}
{{end}}

<turbo-frame id={{$frameID}}>
  <div class="card section-card">
    <div class="card-content">
      {{if $automationJob}}
        <h3>
          Automation Job
          <form
            action={{$formRoute}}
            method="POST"
            class="is-inline-block"
            data-turbo-frame="_top"
            data-controller="form-submission csrf"
            data-action="submit->form-submission#submit submit->csrf#addToken"
          >
            {{template "shared/auth/csrf-input.partial.tmpl" $auth.CSRF}}
            <input type="hidden" name="state" value="deleted">
            <span data-form-submission-target="submitter">
              <input
                class="button is-danger is-small"
                type="submit"
                value="Delete"
                data-form-submission-target="submit"
              >
            </span>
          </form>
        </h3>
      {{else}}
        <h3>New Automation Job</h3>
      {{end}}
      <form
        action={{$formRoute}}
        method="POST"
        data-turbo-frame="_top"
        data-controller="form-submission csrf"
        data-action="submit->form-submission#submit submit->csrf#addToken"
      >
        {{template "shared/auth/csrf-input.partial.tmpl" $auth.CSRF}}
        {{if $automationJob}}
          <input type="hidden" name="state" value="updated">
        {{end}}

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="url">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  type="text"
                  class="input"
                  name="name"
                  placeholder="run-pump"
                  {{if $automationJob}}
                    value={{$automationJob.Name}}
                  {{end}}
                >
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="url">Description</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  type="text"
                  class="input"
                  name="description"
                  placeholder="Keep the pump running"
                  {{if $automationJob}}
                    value={{$automationJob.Description}}
                  {{end}}
                >
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="type">Type</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select name="type" required>
                    <option value="hcl-v0.1.0" selected>HCL v0.1.0</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="specification">Spec</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea
                  class="textarea is-fullwidth"
                  name="specification"
                  rows="20"
                >
                  {{- if $automationJob -}}
                    {{- $automationJob.Specification -}}
                  {{- end -}}
                </textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal"><!--Left empty for spacing--></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input
                    type="checkbox"
                    name="enabled"
                    value="true"
                    {{if not $automationJob}}
                      checked
                    {{else if $automationJob.Enabled}}
                      checked
                    {{end}}
                  >
                  Enabled
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal"><!--Left empty for spacing--></div>
          <div class="field-body" >
            <div class="field" data-form-submission-target="submitter">
              <div class="field">
                <div class="control" data-form-submission-target="submitter">
                  <input
                    type="submit"
                    class="button"
                    {{if $automationJob}}
                      value="Update"
                    {{else}}
                      value="Add"
                    {{end}}
                    data-form-submission-target="submit"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</turbo-frame>
