{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Planktoscopes{{end}}
{{define "description"}}Live Planktoscope microscopes{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Fluitans</a></li>
        <li class="is-active"><a href="/planktoscopes" aria-current="page">Planktoscopes</a></li>
      </ul>
    </nav>

    <section class="section content">
      <h1>Planktoscopes</h1>
      <ul>
      {{range $planktoscope := .Data}}
        <li>
          <a href="/planktoscopes/{{$planktoscope.Name}}">{{$planktoscope.Name}}</a>:
          {{$planktoscope.Description}}
        </li>
      {{end}}
      </ul>
    </section>
  </main>
{{end}}
