@charset 'utf-8';

.chat-messages {
  height: 26em;
  overflow: auto;
  margin-bottom: 0.5 * $gap;

  @include from($navside-breakpoint) {
    margin-bottom: $gap;
  }
}

.chat-message {
  margin-top: 0.25 * $gap;
  @include from($navside-breakpoint) {
    margin-top: 0.5 * $gap;
  }
}
