@charset 'utf-8';

.narrow-card {
  max-width: 24em;
}

.wide-card {
  max-width: 48em;
}

.instrument-camera-stream {
  width: 100%;
  height: auto;
}

.instrument-description {
  white-space: pre-wrap;
}
