<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{block "description" .}}{{end}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#556b2f">
  <meta name="action-cable-url" content="/cable">

  <title>{{block "title" .}}{{end}} | Sargassum Live</title>

  <style type="text/css">{{.Inlines.CSS.BundleEager}}</style>
  <noscript><link rel="stylesheet" href="{{appHashed "theme-light.min.css"}}"></noscript>
  <link
    id="light-theme"
    as="style"
    rel="preload"
    href="{{appHashed "theme-light.min.css"}}"
  >
  <link
    id="dark-theme"
    as="style"
    rel="preload"
    href="{{appHashed "theme-dark.min.css"}}"
  >
  <script>{{.Inlines.JS.BundleEager}}</script>
  {{block "nav/navbar.assets" .}}{{end}}
  <!-- crossorigin is needed to preload fonts correctly -->
  <link
    rel="preload"
    as="font"
    type="font/woff2"
    href="/fonts/atkinson-hyperlegible-latin-400-normal.woff2"
    crossorigin
  >
  <link
    rel="preload"
    as="font"
    type="font/woff2"
    href="/fonts/atkinson-hyperlegible-latin-700-normal.woff2"
    crossorigin
  >
  <link rel="preload" as="script" href="{{appHashed "bundle-deferred.js"}}">
  <link rel="icon" href="{{staticHashed "icon.svg"}}" type="image/svg+xml">
  <link rel="icon alternate" href="/favicon.ico" size="any">
  <link rel="apple-touch-icon" href="{{staticHashed "apple-touch-icon.png"}}">
  <!-- TODO: add shortcuts to the web application manifest -->
  <link rel="manifest" href="/app/app.webmanifest">
  <script defer src="{{appHashed "bundle-deferred.js"}}" data-turbo-track="reload"></script>
</head>

<body>
  <div class="main-window is-flex is-flex-direction-column-touch is-flex-direction-row-desktop">
    {{block "nav/navbar" .}}{{end}}
    {{block "content" .}}{{end}}
  </div>
</body>
</html>
