<turbo-cable-stream-source
  cable-route="/cable"
  channel="Turbo::StreamsChannel"
  name="{{.}}"
  integrity="{{signTurboStream .}}"
  csrf-token=""
  data-csrf-route="/csrf"
>
</turbo-cable-stream-source>
