<turbo-cable-stream-source
  cable-route="/cable"
  channel="Turbo::StreamsChannel"
  name="{{.}}"
  integrity="{{signTurboStream .}}"
  csrf-token=""
  csrf-route="/csrf"
  websocket-subprotocol="actioncable-v1-msgpack"
>
</turbo-cable-stream-source>
