@charset 'utf-8';

ul[data-accordion] {
  list-style: none;
  margin: 0;
}
ul[data-accordion] li[data-accordion-item] + li[data-accordion-item] {
  margin-top: 0;
}
li[data-accordion-item], details[data-accordion-item] {
  display: block;
  padding: 0;
  margin: 0;
}
.panel.entity-panel {
  li[data-accordion-item].panel-block, details[data-accordion-item].panel-block {
    padding: 0;
  }
}
li[data-accordion-item]>button {
  @include reset;

  display: block;
  width: 100%;
  padding-left: $gap;
  padding-right: $gap;
  padding-top: 0.5 * $gap;
  padding-bottom: 0.5 * $gap;
  cursor: pointer;
  text-align: left;
}
.accordion-header {
  h1, h2, h3, h4, h5, h6 {
    @include reset;
    display: inline;
    font-weight: normal;
  }
}
.accordion-header.level {
  display: flex;
  margin-bottom: 0;
}
button[aria-expanded="true"] .accordion-header .icon {
  transform: rotate(0.5turn);
}
li[data-accordion-item]>div {
  display: unset;
}
.accordion-content {
  width: calc(100% - 2 * #{$gap});
  padding-left: $gap;
  padding-right: $gap;
  padding-top: 0.5 * $gap;
  padding-bottom: $gap;
}
