@charset 'utf-8';

.panel.entity-panel {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - #{$gap});
  max-width: 36em;
  margin-bottom: $gap;
  margin-right: $gap;
  border-radius: 0.5em;
  background-color: $card-background-color;
  box-shadow: none;

  @include from($navside-breakpoint) {
    width: calc(100% - #{2 * $gap});
    margin-bottom: 2 * $gap;
    margin-right: 2 * $gap;
  }

  .panel-heading {
    padding: $gap;
    margin-bottom: 0;
    border-radius: 0.5em 0.5em 0 0;
    background-color: $card-header-background-color;
    box-shadow: none;

    .entity-name {
      margin-bottom: 0.25em;
      display: inline-flex;
    }
    .entity-name:last-child {
      margin-bottom: 0;
    }
    .tag {
      font-weight: normal;
    }
  }

  .panel-block {
    width: 100%;
    padding-left: $gap;
    padding-right: $gap;
    padding-top: 0.5 * $gap;
    padding-bottom: $gap;

    h4, h5 {
      margin-bottom: 0;
    }
    h4:not(:first-child), h5:not(:first-child) {
      margin-top: 0.5em;
    }
    p:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .panel-block:not(:last-child) {
    border-bottom: 1px solid $card-item-border-color;
  }
}
