@charset 'utf-8';

.progress.is-body-background {
  background: $body-background-color;
}

.progress.is-body-background::-webkit-progress-bar {
  background: $body-background-color;
}

form .control input[type="submit"] + progress {
  margin-top: 0.5em;
}
