@charset 'utf-8';

.scroller {
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: $scrollbar-color $background;
}
.scroller::-webkit-scrollbar {
  -webkit-appearance: none;  // don't hide scrollbar without hover
  width: 16px;
}
.scroller::-webkit-scrollbar-track {
  background: $background;
}
.scroller::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color ;
  border-radius: 8px;
  border: 4px solid $background;
}
.scroller::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: $scrollbar-hover-color;
}
.scroller::-webkit-scrollbar-thumb:horizontal:active {
  background-color: $scrollbar-hover-color;
}
.scroller::-webkit-scrollbar-thumb:vertical:hover {
  background-color: $scrollbar-hover-color;
}
.scroller::-webkit-scrollbar-thumb:vertical:active {
  background-color: $scrollbar-hover-color;
}
