@charset 'utf-8';

.toolbar {
  width: 100%;
  padding-left: $gap;
  padding-right: $gap;
  padding-top: $gap;
  padding-bottom: $gap;
  margin-bottom: $gap;
  background-color: $toolbar-background-color;

  @include from($navside-breakpoint) {
    padding-left: 2 * $gap;
    padding-right: 2 * $gap;
    margin-bottom: 2 * $gap;
  }
}

.toolbar .button {
  font-weight: bold;
  margin-bottom: $gap;
}
