@charset 'utf-8';

.tag.scoped-name {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border-radius: 1em;
  height: unset;
}
.tag.zerotier-address {
  font-family: $family-monospace;
  color: $zerotier-address-tag-color;
  background-color: $zerotier-address-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
.zerotier-network-id {
  display: inline-block;
}
.tag.zerotier-network-host {
  font-family: $family-monospace;
  color: $zerotier-address-tag-color;
  background-color: $zerotier-address-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0;
  margin-right: 0;
  border-radius: 0.75em 0 0 0.75em;
}
.tag.zerotier-network-number {
  font-family: $family-monospace;
  color: $zerotier-network-number-tag-color;
  background-color: $zerotier-network-number-tag-background-color;
  padding-left: 0;
  padding-right: 0.5em;
  margin-left: 0;
  border-radius: 0 0.75em 0.75em 0;
}
.tag.zerotier-unknown-network-named {
  display: inline-block;
  background-color: $zerotier-unknown-network-tag-color;
  padding-left: 0.25em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 1em;
  height: unset;
}
.tag.zerotier-unknown-network-named .tag.zerotier-network-name {
  display: inline;
  background-color: transparent;
  height: unset;
  white-space: normal;
}
.tag.socket {
  font-family: $family-monospace;
  color: $socket-tag-color;
  background-color: $socket-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
.tag.ip-address {
  font-family: $family-monospace;
  color: $socket-tag-color;
  background-color: $socket-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
.tag.ip-subnet {
  font-family: $family-monospace;
  color: $socket-tag-color;
  background-color: $socket-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
.tag.domain-name {
  font-family: $family-monospace;
  color: $domain-name-tag-color;
  background-color: $domain-name-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
.tag.mac-address {
  font-family: $family-monospace;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}

.tag .delete {
  margin-bottom: 4px;
  margin-top: 4px;
}
