{{template "shared/base.layout.tmpl" .}}

{{define "title"}}You're not connected{{end}}
{{define "description"}}This page can only be viewed with an internet connection.{{end}}

{{define "content"}}
  <main class="main-container">
    <section class="section content">
      <h1>Try again later</h1>
      <p>
        It looks like either you don't have an internet connection right now, or the server is
        temporarily down.
      </p>
    </section>
  </main>
{{end}}
